#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#indexReturns {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#indexReturns td, #indexReturns th {
  border: 1px solid #ddd;
  padding: 8px;
}

#indexReturns tr:nth-child(even){background-color: #f2f2f2;}

#indexReturns tr:hover {background-color: #ddd;}

#indexReturns th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}